[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@github.com:glfw/glfw.git
[submodule "third_party/DiligentCore"]
	path = third_party/DiligentCore
	url = git@github.com:DiligentGraphics/DiligentCore.git
[submodule "third_party/FrameGraph"]
	path = third_party/FrameGraph
	url = git@github.com:skaarj1989/FrameGraph.git
